@tailwind base;
@tailwind components;
@tailwind utilities;

select,
input,
textarea,
button {
  @apply px-3 py-2 border rounded bg-white;
}

label:has(input, select, textarea) {
  @apply flex flex-col gap-2;
}

code {
  @apply bg-gray-200 whitespace-pre block p-3 rounded;
}
